@CHARSET "UTF-8";

/**
 * width/ height
 *************************************************************/
button,
input.normalBtn {
/*	width: 150px;*/
/*	display: block;*/
}

/* 全体の大きさ */
div.download div {
	width: 640px;
}
.pic.pic_x {
	width: 200px;
	height: 155px;
}
.pic.pic_y {
	width: 200px;
	height: 270px;
}

/**
 * margin/ padding/ borders
 *************************************************************/
* html body,
html body,
body {
	margin-top: 0;
}

h2 {
	margin-top: 2px;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

h3, h4, h5 {
	margin: 0;
	padding: 0;
	borber-width: 0;
	border-style: none;
}

div, p {
	margin: 3px;
	padding: 0;
	borber-width: 0;
	border-style: none;
}

div.sample {
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 5px;
}


button,
input.normalBtn {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}

div.Container {
	margin-left:			auto;
	margin-right:			auto;
}

div.download div,
div.download div input {
	margin-top: 0;
	margin-bottom: 0;
	margin-left:			auto;
	margin-right:			auto;
}

.pic {
	border-radius: 3px;
}

.demoTarget {
	border-width: 1px;
	border-style: solid;
}
.demoTarget2 {
	border-width: 1px;
	border-style: solid;
}
.demoTarget3 {
	border-width: 1px;
	border-style: dotted;
}
.demoTarget4 {
	border-width: 1px;
	border-style: solid;
}
.demoTarget5 {
	border-width: 1px;
	border-style: solid;
}
/**
 * font/ text
 *************************************************************/
* html body,
html body,
body {
	font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo UI", "メイリオ", Meiryo, Osaka, sans-serif;
	font-size: 82.7%;
}
h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 110%;
	text-decoration: underline;
}
code,
pre.src {
	font-family: Consolas, "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo UI", "メイリオ", Meiryo, Osaka, sans-serif;
}

button,
input.normalBtn {
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
}

.demoTarget.source {
	font-weight: bold;
}
.demoTarget.mover {
	font-weight: bold;
}

/**
 * color
 *************************************************************/
* {
	border-top-color: #ccc;
	border-left-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
}
* html body,
html body,
body {
	color: #306;
}

code,
pre.src {
	color: #fff;
	background-color: #006;
	border-right-color: #666;
	border-bottom-color: #666;
}

div.Container {
	background-color: #fff;
}

.pic {
	background-color: #fff;
	box-shadow: 1px 1px 1px #999;
}

button,
input.normalBtn {
	border-top-color: #ccc;
	border-left-color: #ccc;
	border-right-color: #333;
	border-bottom-color: #333;
	background-color: #fff;
	color: #333;
	box-shadow: 1px 1px 1px #999;
}

button:hover,
input.normalBtn:hover,
button:focus:hover,
input.normalBtn:focus:hover {
	border-top-color: #ccc;
	border-left-color: #ccc;
	border-right-color: #333;
	border-bottom-color: #333;
	background-color: #ccc;
	color: #000;
	box-shadow: 1px 1px 1px  #999;
}

button:active,
input.normalBtn:active,
button:visited:active,
input.normalBtn:visited:active {
	border-top-color: #333;
	border-left-color: #333;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	background-color: #ccc;
	color: #000;
	box-shadow: 0px 0px #999;
}

button:focus,
input.normalBtn:focus,
button:visited:focus,
input.normalBtn:visited:focus {
	outline: 0;
	border-top-color: #6cc;
	border-left-color: #6cc;
	border-right-color: #399;
	border-bottom-color: #399;
	background-color: #9ff;
	color: #033;
	box-shadow: 1px 1px 1px #033;
}

.demoTarget {
}
.demoTarget.source {
	color: #f90;
	border-color: #f90;
}
.demoTarget.dummy {
	color: #fc0;
	border-color: #fc0;
}
.demoTarget.mover {
	background-color: #f90;
	border-color: #f90;
}
.demoTarget2 {
	background-color: #ccf;
}
.demoTarget3 {
	background-color: #99f;
}
.demoTarget4 {
	background-color: #99c;
}
.demoTarget5 {
	background-color: #99c;
}
.pic p {
	color: #f00;
}

/**
 * image
 *************************************************************/
.pic.box1 {
	background-image:url("image/image011.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box2 {
	background-image:url("image/image012.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box3 {
	background-image:url("image/image013.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box4 {
	background-image:url("image/image014.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box5 {
	background-image:url("image/image015.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box6 {
 	background-image:url("image/image016.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box7 {
	background-image:url("image/image017.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
.pic.box8 {
	background-image:url("image/image018.gif");
	background-position: top left;
	background-repeat: no-repeat;
	background-size:200px auto;
}
/**
 * other
 *************************************************************/
* html body,
html body,
body {
	speech-rate:			slow;
	voice-family:			female;
	volume:					medium;
}


button,
input.normalBtn {
	-webkit-transition: all .3s;
	transition: all .3s;
}
